@import '@/styles/variables.sass'

body
  margin: 0
  padding: 0
.form
  font-style: normal
  font-family: Inter, sans-serif
  line-height: normal
  &__header
    color: #404040
    font-size: 37px
    font-weight: 600
    letter-spacing: 0.37px
    @media (max-width: 576px)
      font-size: 24px
  &__subheader
    color: #7D7D7D
    text-align: center
    font-size: 17px
    font-weight: 400
    line-height: 30px
    @media (max-width: 576px)
      font-size: 12px
    &_link
      font-size: 17px
      color: #7D7D7D
      overflow: hidden
      text-decoration: none
      font-weight: 600
      @media (max-width: 576px)
        font-size: 12px
  &__label
    color: #344054
    font-size: 14px
    font-weight: 500
    line-height: 20px
    @media (max-width: 576px)
      font-size: 10px
  &__error
    color: #ff1717
    font-size: 14px
    font-weight: 500
    line-height: 20px
    @media (max-width: 576px)
      font-size: 10px
  &__input
    border-radius: 30px
    border: none
    outline: none
    padding: 12px 16px
    background: #FFF
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10)
    @media (max-width: 576px)
      font-size: 12px
      padding: 8px 12px
  &__input_error
    border-radius: 30px
    border: 1px solid #ff1717
    outline: none
    padding: 12px 16px
    background: #FFF
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10)
    @media (max-width: 576px)
      font-size: 12px
      padding: 8px 12px
  &__button
    @media (max-width: 576px)
      width: 100%
    button
      border: none
      border-radius: 34px
      background: #404040
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.10)
      padding: 13px 56px
      color: #FFF
      font-size: 17px
      font-weight: 600
      @media (max-width: 576px)
        font-size: 12px
        width: -moz-available
        width: -webkit-fill-available
        width: fill-available
      &:hover
        background: #2f2f2f
        cursor: pointer
.login-page
  background-image: url("@/assets/images/auth_background.svg")
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  height: 100%
.br
  &-8
    border-radius: 8px
  &-10
    border-radius: 10px
  &-12
    border-radius: 12px
  &-20
    border-radius: 20px
  &-22
    border-radius: 22px
  &-25
    border-radius: 25px
.fs
  &-7
    font-size: 7px
  &-8
    font-size: 8px
  &-10
    font-size: 10px
  &-12
    font-size: 12px
  &-14
    font-size: 14px
  &-15
    font-size: 15px
  &-16
    font-size: 16px
  &-18
    font-size: 18px
  &-19
    font-size: 19px
  &-20
    font-size: 20px
  &-24
    font-size: 24px
  &-28
    font-size: 28px
.color-main-green
  color: $main-green
.color-main-black
  color: $black-text
.color-main-gray
  color: $gray-text
.color-semi-white
  color: $semi-white-text
.map-fix
  .ymaps3x0--map-container
    border-radius: 1.25rem
.map-outline
  .ymaps3x0--map-container
    border: 1px solid #D0D0D0
.input-with-icon
  display: flex
  img
    position: absolute
    padding-left: 0.3rem
  input
    display: flex
    outline: none
    padding: 0.7rem 2rem
    border-radius: 100px
.component-container
  display: flex
  flex-direction: column
  background: #DAE8DA
  border: 1px solid #4E944F80
  margin: 2.25rem 2.5rem 2.5rem
  border-radius: 25px
  flex-basis: 45%
  @media (max-width: 768px)
    border: none
    background: white
    margin: 1.25rem 1.5rem 1.5rem
.sidebar
  width: 250px
.filter-button
  border: 1px solid #D0D0D0
  background: white
  &:hover
    cursor: pointer
    background: rgba(208, 208, 208, 0.25)

iframe#webpack-dev-server-client-overlay
  display: none !important

.pagination-container-fix
  bottom: 10px !important
  position: relative
  display: flex
  justify-content: center
  li
    justify-content: center
  .Page
    font-size: 20px
  .pagination-container
    bottom: 10px